@import url('https://fonts.googleapis.com/css2?family=Actor&family=Adamina&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Actor';
}

.navbar {
    display: flex;
    align-items: center;
    height: 100px;
    padding-right: 20%;
    justify-content: end;
    background: #000;
}


ul {
    display: flex;
    color: #fff;
    list-style: none;
    gap: 70px;
}


.workwith {
    padding-left: 80px;
}

button.navlink {
    padding: 15px 50px 15px 30px;
    font-size: 14px;
    border-top-right-radius: 20px;
    background: #FFAC12;
    color: #fff;
    border: transparent;
}

section.intro {
    display: flex;
    justify-content: space-around;
    height: 140px;
    align-items: center;
    background: #000;
    color: #fff;
    font-family: 'Actor'
}

.intro h2 {
    font-size: 36px;
    font-weight: lighter;
}

.mordernhouse {
    padding-right: 200px;
}

.intro p {
    color: #ccc;
}

.island img {
    width: 907px;
}

section.kitchen {
    display: flex;
    height: 1000px;
    align-items: center;
    justify-content: space-around;
    background: rgba(204, 204, 204, 0.21);
}

.slideshow img {
    width: 130px;
}


.chat {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px 30px 44px;
    border-radius: 20px;
    box-shadow: rgb(204 204 204 / 80%) 2px 4px 8px 2px;
    margin-bottom: 120px;
    margin-right: 20%;
    background: #fff;
}

.profile {
    display: flex;
    align-items: center;
    padding: 20px 98px 10px 20px;
    background: #cccccc36;
    margin-top: 10px;
    border-radius: 20px;
}

.profile img {
    width: 70px;
}

.kaylee {
    padding-left: 10px;
}

.name {
    display: flex;
    padding: 20px 98px 10px 20px;
    background: #fff;
    border-radius: 20px;
    border: solid 1px #2196f354;
}

.name h2 {
    font-weight: lighter;
}

.phone {
    display: flex;
    padding: 20px 98px 10px 20px;
    background: #fff;
    border-radius: 20px;
    border: solid 1px #2196f354;
}

.phone h2 {
    font-weight: lighter;
}

.Email {
    display: flex;
    padding: 20px 98px 10px 20px;
    background: #fff;
    border-radius: 20px;
    border: solid 1px #2196f354;
}

.Email h2 {
    font-weight: lighter;
}

.Intrested {
    display: flex;
    padding: 20px 98px 80px 20px;
    background: #fff;
    border-radius: 20px;
    border: solid 1px #2196f354;
}


.Intrested h2 {
    font-weight: lighter;
}


.learn {
    padding: 21px 155px 20px 73px;
    border-top-right-radius: 12px;
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
}


.box2 img {
    width: 25px;
}

.box3 img {
    width: 25px;
}

.icons {
    display: flex;
    gap: 5px;
}



.box1 {
    padding: 20px 20px 20px 42px;
}
.box2 {
    padding: 20px 20px 20px 50px;
}
.box3 {
    padding: 20px 20px 20px 50px;
}

.box4 {
    padding: 20px 20px 20px 50px;
}

.box5 {
    padding: 20px 20px 20px 50px;
}

section.description {
    display: flex;
    background: rgba(204, 204, 204, 0.21);
}

.generalbox2 {
    background: #fff;
    margin-left: 60px;
    padding: 30px 20px 0px 0px;
    border-radius: 20px;
    box-shadow: rgb(204 204 204 / 80%) 4px 4px 8px 4px;
}

h3 {
    padding-left: 30px;
}

.icons2 {
    display: flex;
    gap: 81px;
}

section.explanation {
    display: flex;
    height: 500px;
    align-items: center;
    background: rgba(204, 204, 204, 0.21);
}

.theory {
    margin-left: 60px;
    background: #fff;
    padding: 30px 30px 20px 30px;
    border-radius: 20px;
    box-shadow: rgb(204 204 204 / 80%) 4px 4px 8px 4px;
}

.theory h2 {
    font-weight: lighter;
}

.filler {
    padding-top: 70px;
}

.featheader {
    position: absolute;
    padding-top: 100px;
    margin-left: 80px;
}

section.features {
    display: flex;
    align-items: center;
    height: 400px;
    background: rgba(204, 204, 204, 0.21);
}

.specifications {
    background: #fff;
    padding: 105px 151px 20px 30px;
    border-radius: 20px;
    margin-left: 60px;
    box-shadow: rgb(204 204 204 / 80%) 4px 4px 8px 4px;
}

.condition {
    display: flex;
    line-height: 1.8;
    gap: 120px;
}

.condition img {
    padding-right: 10px;
}
.topmovers {
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: center;
    background: rgba(204, 204, 204, 0.21);
    padding-left: 10%;
}

hr.line2 {
    width: 9%;
    height: 5px;
    background-image: linear-gradient(to right, orange,yellowgreen, green);
}

.topmovers h2 {
    font-weight: lighter;
    font-size: 40px;
    padding-top: 20px;
}

.box2 img {
    width: 25px;
}

.box3 img {
    width: 25px;
}

.truck img {
    width: 340px;
}


.icons {
    display: flex;
    gap: 5px;
}

section.services {
    display: flex;
    justify-content: center;
    background: #cccccc36;
    height: 600px;
    gap: 120px;

}


.box1 {
    padding: 20px 20px 20px 42px;
}
.box2 {
    padding: 20px 20px 20px 50px;
}
.box3 {
    padding: 20px 20px 20px 50px;
}

.A-plusmovers {
    background: #fff;
    height: 415px;
    border-bottom-left-radius: 43px;
    border-bottom-right-radius: 43px;
    box-shadow: 1px 3px 4px 0px #cccc;
}

.generalbox2 h3 {
    padding-left: 20px;
    font-size: 20px;
    font-weight: lighter;
}


section.footer {
    display: flex;
    height: 200px;
    align-items: center;
    background: #000;
    color: #fff;
    padding-left: 10%;
}

section.footerlinks {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    height: 206px;
    align-items: center;
}

.footer h2 {
    font-size: 48px;
    font-family: 'Poppins';
    font-weight: lighter
}

span {
    font-family: 'Poppins';
    color: #FFAC12;
}

.socialmedia {
    display: flex;
    gap: 50px;
}

.links {
    display: flex;
    gap: 150px;
    line-height: 1.6;
}

.links p {
    color: #ccc;
}

p.p1 {
    color: #fff;
}

.btnsubmit {
    padding-left: 20%;
}