@import url('https://fonts.googleapis.com/css2?family=Actor&family=Adamina&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Actor';
}

.navbar {
    display: flex;
    align-items: center;
    height: 100px;
    padding-right: 20%;
    justify-content: end;
    background: #000;
}


ul {
    display: flex;
    color: #fff;
    list-style: none;
    gap: 70px;
}


.workwith {
    padding-left: 80px;
}

button.navlink {
    padding: 15px 50px 15px 30px;
    font-size: 14px;
    border-top-right-radius: 20px;
    background: #FFAC12;
    color: #fff;
    border: transparent;
}

section.intro {
    display: flex;
    justify-content: space-around;
    height: 140px;
    align-items: center;
    background: #000;
    color: #fff;
    font-family: 'Actor'
}

.intro h2 {
    font-size: 36px;
    font-weight: lighter;
}

.mordernhouse {
    padding-right: 200px;
}

.intro p {
    color: #ccc;
}

.island img {
    width: 907px;
}

section.kitchen {
    display: flex;
    height: 1000px;
    align-items: center;
    justify-content: space-around;
    background: rgba(204, 204, 204, 0.21);
}

.slideshow img {
    width: 130px;
}


.chat {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px 30px 44px;
    border-radius: 20px;
    box-shadow: rgb(204 204 204 / 80%) 2px 4px 8px 2px;
    margin-bottom: 120px;
    margin-right: 20%;
    background: #fff;
}

.profile {
    display: flex;
    align-items: center;
    padding: 20px 98px 10px 20px;
    background: #cccccc36;
    margin-top: 10px;
    border-radius: 20px;
}

.profile img {
    width: 70px;
}

.kaylee {
    padding-left: 10px;
}

.name {
    display: flex;
    padding: 20px 98px 10px 20px;
    background: #fff;
    border-radius: 20px;
    border: solid 1px #2196f354;
}

.name h2 {
    font-weight: lighter;
}

.phone {
    display: flex;
    padding: 20px 98px 10px 20px;
    background: #fff;
    border-radius: 20px;
    border: solid 1px #2196f354;
}

.phone h2 {
    font-weight: lighter;
}

.Email {
    display: flex;
    padding: 20px 98px 10px 20px;
    background: #fff;
    border-radius: 20px;
    border: solid 1px #2196f354;
}

.Email h2 {
    font-weight: lighter;
}

.Intrested {
    display: flex;
    padding: 20px 98px 80px 20px;
    background: #fff;
    border-radius: 20px;
    border: solid 1px #2196f354;
}


.Intrested h2 {
    font-weight: lighter;
}


.learn {
    padding: 21px 155px 20px 73px;
    border-top-right-radius: 12px;
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
}
